<div class="row">
  <div class="ten columns"> <%= Date.today %> </div>

  <div class="two columns">
    <%= link_to "Add new record", new_team_quiz_session_path(@team), class: 'button'%>
  </div>
</div>

<div class="row">
  <div class="team-row"> 
    <h3>
      <%= @team.name %> 
    </h3>
  </div>
  <hr>
  <div>
    <p> What we have done so far ...</p>
    <table>
      <tr> <td> When </td> <td> Score </td> <td> Rate </td> </tr> 
      <% @sessions.each do |s| %>
      <tr>
        <td> <%= s.created_at.humanize %></td>
        <td> <%= s.correct_quiz_number %> / <%= s.total_quiz_number %></td>
        <td> <%= ( s.correct_quiz_number/s.total_quiz_number ) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
