<!DOCTYPE html>
<html>
  <head>
    <title>NZX Quzi Count</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav">
      <div class="nav-center nav-menu">
        <a class="nav-item" href="<%= teams_path %>"> Home </a>
      </div>
    </nav>

    <div class="columns">
      <div class="column">
        <% if flash[:notice] %>
          <div class="notification"><%= flash[:notice] %></div>
        <% end %>
        <%if flash[:error]  %>
          <div class="notification is-dange"><%= flash[:error] %></div>
        <% end %>
      </div>
    </div>

    <div class="container is-fluid">
      <%= yield %>
    </div>
  </body>

</html>
